/.bundle/
/.idea/
/.yardoc
/Gemfile.lock
/_yardoc/
**/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/sinatra-swagger-exposer-*.gem
/example/.bundle
/example/.idea/
/example/Gemfile.lock
/example/public/swagger-ui/*
*.orig
